@using hotel.Entities
@model List<HotelRoom>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">№</th>
            <th scope="col">Rating</th>
            <th scope="col">Flour</th>
            <th scope="col">Amound of people</th>
            <th scope="col">Amound of bed</th>
            <th scope="col">Price/24h</th>
            <th scope="col">Discount</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
          <tr>
            <th scope="row">@item.Id</th>
                <td>@item.Number</td>
                <td>@item.Rating</td>
                <td>@item.Flour</td>
                <td>@item.AmoundOfPeople</td>
                <td>@item.AmoundOfBed</td>
            <td>@item.Price</td>
            <td>@item.Discount</td>
            <td><a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a></td>
        </tr>  
        }
        <a asp-action="Create" class="btn btn-primary mb-3">
            <i class="bi bi-plus-lg"></i>
            Add New Product
        </a>
    </tbody>
</table>